.chatOut {
  background-image: url("https://st2.depositphotos.com/3764539/8585/v/950/depositphotos_85854026-stock-illustration-vector-line-style-seamless-pattern.jpg");
  height: -webkit-fill-available;
}

.chat {
  height: -webkit-fill-available;
  background: rgba(255, 255, 255, 0.9);
}

.conversation {
  position: relative;
  height: 90%;
  overflow-y: scroll;
}

.chat-msg-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-msg-profile {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
}

.chat-msg-date {
  position: absolute;
  left: calc(100% + 12px);
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: #c0c7d2;
  white-space: nowrap;
}

.chat-msg {
  display: flex;
  padding: 0 2px 45px;
}
.chat-msg-content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-msg-text {
  background-color: #f1f2f6;
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
}
.chat-msg-text + .chat-msg-text {
  margin-top: 10px;
}

.chat-msg-text {
  color: var(--chat-text-color);
}

.owner {
  flex-direction: row-reverse;
}
.owner .chat-msg-content {
  margin-left: 0;
  margin-right: 12px;
  align-items: flex-end;
}
.owner .chat-msg-text {
  background-color: #0086ff;
  color: #fff;
  border-radius: 20px 20px 0 20px;
}
.owner .chat-msg-date {
  left: auto;
  right: calc(100% + 12px);
}

.chat-msg-text img {
  max-width: 300px;
  width: 100%;
}

.chatInput {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(94, 90, 90, 0.452);
}

.emPickerButton {
  margin-left: 1rem;
  border: none;
  background: rgb(197, 196, 196);
  color: black;
  font-size: x-large;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.emPickerButton:focus {
  outline: none;
}

.emPicker {
  position: absolute;
  bottom: 3rem;
}

aside.emoji-picker-react {
  height: 220px !important;
}

.chatInputText:focus {
  outline: none;
}

.chatInputText {
  width: 69%;
  margin: 8px 10px;
  border-radius: 0.2rem;
  height: auto;
  height: max-content;
}

.sendButton {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
