.home {
  height: calc(100vh - 4rem);
  display: flex;
  max-width: 80%;
  margin: auto;
}

.homemain {
  height: calc(100vh - 3.1rem);
  overflow-y: scroll;
  width: 70%;
  margin: auto;
}

.NoPostDiv {
  height: calc(100vh - 16rem);
  display: flex;
  align-items: center;;
  justify-content: center;
  font-size: 4rem;
  color: lightgray;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home {
    max-width: 100%;
  }
  .home > .sidebar {
    display: none;
  }
}
